<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="C:\Users\chiti\TODO LIST\public\css\blog.css">
</head>
<body>
    <div class="blog-app">
        <h1>TO-DO LIST Blog Page</h1>
        <button id="createPost">Create New Post</button>
        <button id="addImage">Add Image</button>
        <div id="postList">
        </div>
        <hr>
        <div id="todoPopup" class="popup">
            <span class="close" id="closeTodoPopup">&times;</span>
            <iframe src="C:\Users\chiti\TODO LIST\app_server\views\todo.html" width="100%" height="400"></iframe>
        </div>
        <button id="openTodoPopup">&#9997;</button>
    </div>
    <script src="C:\Users\chiti\TODO LIST\app_server\controllers\blog.js"></script>
</body>
</html>
